body {
    background-color: #00FF00;
    
}
.flower{ 
    background-color: yellow;
    margin-top: 75px;
    margin-right: 350px;
    margin-bottom: 350px;
    margin-left: 350px;
    padding: 25px;
    text-align: center;
}


